/* Reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0} 
*, *:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/*Clear fix*/
.cf:after,
.cf:before {
  content: '';
  display: table;
}
.cf:after {
  clear: both;
}
.cf {
  zoom: 1;
}

body {

  font-family: "futura-pt",sans-serif;
  /*font-size: 88.235294%;*/
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
/*    background-image: url("img/shapesbg.svg");*/
    /* background-attachment: fixed; */
    /* background-size: 69%; */
    /* background-repeat: no-repeat; */
/*    background-position-y: 130px;
    background-position-x: 49px;*/
}

/*Typography*/

h1 {

font-size: 4.25em;
line-height: 1.22222222em;
color: #212124;
margin-top: 2em;
text-align: center;
margin-bottom: 1em;
font-weight: 800;

}

h1.under {

  margin-top: 4.1em;
}


.textCenter {

  text-align: center;
}

h2 {

font-size: 1.375em;
line-height: 1.22727273em;
color: white;
margin-top: 8em;
font-weight: 800;

}

h3 {

  font-size: 1.0625em;
line-height:1.23529412em;
color: white;
/*margin-top: 0.5em;*/
}


h4 {

 font-size: 1.0625em;
  line-height: 1.23529412em;
color: #9CA3B0;
/*margin-top: 2.38461538em;
margin-bottom: 2.07692308em;*/
}

a {
  font-size: 1.0625em;
  line-height: 1.23529412em;
  color: #9CA3B0;
  text-decoration: none;

}

 h1 a.insidetext {
  color: #212124;
  text-decoration: underline;
}

.center {
  margin-right: auto;
  margin-left: auto;

}

ul {

  list-style: none;
  margin-top: 4.29411765em;

}

ul li:first-child {

  margin-left: 0;
}

ul li {
  float: left;
  margin-left: 2.58823529em;
  margin-bottom: 3.6875em;
}

ul li.second {

margin-left: 15.7em;

}

.content {

  width: 71.75em;
}

.smaller-content {

  width: 53em;
}

.unit {

  float: left;

}

/*.line-work:first-child {

  margin-top: 
}*/


.line-work {

  margin-top: 2.75em;
}

.top.line-work {

  margin-top: 7.7em;
}

.last {

  margin-left: 2.33em;
}


.large {

  width: 58.259587%;
  position: relative;
}

.small {

  width: 38.495575%;
  position: relative;
}

.logo {

  width: 2.75em;
  position: relative;
  top: 2.75em;
}
img {

  width: 100%;
  height: auto;
 
}

.wrap {

  height: 33.125em;
  width: 100%;
  background-color: #F3F5FA;
  position: absolute;
  top: 0;
  z-index: -6
}

.line {

height: 1px;
background-color: #C5C8CF;
width: 4.125em;
margin-top: 7.9375em;

}

.shapes {
position: absolute;
    z-index: -99;
    width: 1442px;
    height: 440px;
    top: 0;
    left: 50%;
    margin-left: -700px;
    background-image: url("img/shapesbg.svg");
    background-position-y: 2294px;
    background-position-x: -111px;

}

.blockOnHover {

  position: absolute;
  top: 0;
  bottom: 0.15em;
  left: 0;
  right: 0;
  background-color: blue;
  opacity: 0;

}


/*TRANSICTION */

.blockOnHover:hover {

-webkit-transition: all .5s ease;
   -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
     -o-transition: all .5s ease;
        transition: all .5s ease;
}

.blockOnHover:hover {

  opacity: 0.8;
}


@media screen and ( max-width: 1024px) {


.content {

  width: 64.75em; /* 1200/16px */


}

.last {
  margin-left: 2.102em;
}

ul li.second {
  margin-left: 11em;
}

.shapes {

  width: 1024px;
  margin-left: -500px;
}

}

@media screen and (max-width:1280px ) {

  body {
font-size: 87.235294%;
  }

  .shapes {
    width: 1280px;
    margin-left: -661px;
    background-position-y: 1409px;
    background-position-x: -59px;
  }
  
}

@media screen and (max-width:768px ) {

.content {
    width: 49.75em;
}

  .last {
  margin-left: 3em;
}

.large {
    width: 56.259587%;
    position: relative;
}

.small {
    width: 37.495575%;
    position: relative;
}

.shapes {

  width: 768px;
  margin-left: -370px;
}
  
}
