/* Reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0} 
*, *:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/*Clear fix*/
.cf:after,
.cf:before {
  content: '';
  display: table;
}
.cf:after {
  clear: both;
}
.cf {
  zoom: 1;
}

body {

 font-family: "nimbus-sans",sans-serif;
  /*font-size: 88.235294%;*/
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  background-color: #FFF;
  color: #222222
}

/*Typography*/

h1 {

font-size: 2.125em;
/*width: 27.17647058823529em;*/
margin-left: 3em;
margin-right: 5.94117647058824em;
line-height: 1.29411764705882em;


}

h2 {

  
  font-size: 1.375em;
  line-height: 1.18181818181818em;
  margin-left: 6.375em;
  margin-top: 2.86363636363636em;

}

.first {
  margin-top: 4.3125em;
  font-style: italic;
}

/* Laoyot  */

.content {

 width: 80em;

}

ul {

list-style-type: none;
}





.social {

  margin-top: 8.75em;
 margin-left: 6.375em;
  margin-bottom: 9.0625em;
}

a {
color: #222222;
text-decoration: underline;

}


ul li a {
font-size: 1.375em;
color: #2222222;
text-decoration: none;
line-height: 1.18181818181818em;

}

ul li {

  margin-top: 13px;
}

.social .list:first-child {

  margin-left: 0;
}

.list {

  margin-left: 4.125em;
}

.center {

margin-left: auto;
margin-right: auto;

}

.float {

float: left;

}