
/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }


html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
	border:0;
	vertical-align:baseline;
	font:inherit;
	font-size:100%;
	margin:0;
	padding:0;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
	display:block;
}


.cf:after,
.cf:before {
	content: '';
	display: table;
}
.cf:after {
	clear: both;
}
.cf {
	zoom: 1;
}



/* GRID SISTEM */

.space {
	height: 2em;
}
.lastUnit{overflow:hidden;float:none;width:auto;padding-left:2.5px;padding-right:2.5px}
.unit{overflow:hidden;float:left;padding-left:2.5px;padding-right:2.5px}
.size8of8{width:100%}
.size7of8{width:87.5%}
.size6of8{width:75%}
.size5of8{width:62.5%}
.size4of8{width:50%}
.size3of8{width:37.5%}
.size2of8{width:25%}
.size1of8{width:12.5%}
.size4of4{width:100%}
.size3of4{width:75%}
.size2of4{width:50%}
.size1of4{width:25%}
.size2of2{width:100%}
.size1of2{width:50%}
.size3of3{width:100%}
.size2of3{width:66.66666666666666%}
.size1of3{width:33.33333333333333%}
.size1of1{width:100%}

.content  {

	width: 60em;
	margin-right: auto;
	margin-left: auto;
}

.top {
	
	height: 22.5em;
	margin-right: 3.84375em;
	margin-left: 3.84375em;
}


/*typo*/


@font-face {

    font-family: Brown-Regular;
    src: url('font/Brown-Regular.woff')  format('woff');
}


@font-face {

    font-family:ArnoPro;
    src: url('font/ArnoPro-SmbdSmText.woff')  format('woff');
}



h1 {
    font-size: 14.65em; /* 238 / 16 */
    line-height: 1em; /* 238 / 238 */
    color: white;
    text-align: center;
    left:50%;
    margin-left:-1.24em;
    top: 0.55em;
    font-family: "ArnoPro", serif;
  
   
}


h2 {
    font-size: 1.25em; /* 20 / 16 */
    line-height: 1.2em; /* 48 / 36 */
    font-family: 'Brown-Regular',sans-serif;
    margin-top: 1.5em;
    font-weight: 600;
    opacity: 0.8;
    color: #fff;
  
}


h6 {
    font-size: 0.75em; /* 12 / 16 */
    line-height: 2em; /* 24 / 16 */
    color: #3d464d;
    font-family: 'Brown-Regular',sans-serif;
    margin-left: 5em;

 
}
p {
    font-size: 1em; /* 16 / 16 */
    line-height: 1.5em; /* 24 / 16 */
    margin-right: 3.84375em;
	margin-left: 3.84375em;
	margin-top: 1.8em;
	color: #fff;
	font-family: 'Brown-Regular',sans-serif;
 
}




/* style */

body {

	background-image: url("img/bg.jpg");
	font-size: 100%;
	background-position: 177.125em 125.9375em;
	text-rendering: optimizeLegibility;
}

a {
	 text-decoration: none;
	 color: #FFD06E;
}

.abs {

	position: absolute;
}

.center {
margin-right: auto;
margin-left: auto;
}

ul {
list-style-type: none;
}


ul li {

	float: left;
	margin-left: 4.125em;
}

ul li:first-child {
   margin-left: 10.625em
}

.float {float: left;}

.profile {

	margin-top: 1.125em;
	margin-left: 1.25em;
}

.img {
	
	margin-right: 3.9375em;
	margin-left: 3.9375em;
	height: 22.5em;
	margin-top: 3em;
	background-image: url("img/image.png");

}

.divider {

height: 1px;
background: #D0D2D4;
margin-right: 3.9375em;
margin-left: 3.9375em;
margin-top: 4.5em;

}

.footer  p {

	margin-top: 1em;
	margin-bottom: 3em;
}



@media ( min-width:1920px) {

body {

	background-image: url("img/bg.jpg");
	font-size: 100%;
	background-position: 212.2em 125.9375em;
}


}




@media ( min-width:1920px) {

body {

	background-image: url("img/bg.jpg");
	font-size: 100%;
	background-position: 212.2em 125.9375em;
}


}

@media ( max-width:1024px) {

	body {

	background-image: url("img/bg.jpg");
	font-size: 100%;
	background-position: 164.125em 125.9375em;
}
}


@media ( max-width:768px) {

	body {

	background-image: url("img/bg.jpg");
	font-size: 95%;
	background-position: 164.125em 125.9375em;
}

.content  {

	width: 50em;
	
}

ul li:first-child {
margin-left: 4.125em;
}


}

