body {
background:#1F1F24;
}

.theme div:nth-child(2) {
color:grey;
}

.theme div:nth-child(1) {
color:#FFF;
cursor:pointer;
}

hr {
border-bottom:2px solid #3a3a3a;
}

#social {
margin-right:20px;
margin-left:20px;
color:#d1d1d1;
font-weight:400;
font-size:1em;
font-family:'Source Sans Pro', sans-serif;
-webkit-transition:all .3s ease;
-moz-transition:all .3s ease;
-o-transition:all .3s ease;
}


#contact {

color: white;

}

#social:hover {
color:#FF483B;
}

h1 {
color:#fff;
}

h2 {
color:#494949;
}

h2.space {
color:#c2c2c2;
}

h3 {
margin-top:1.5em;
margin-bottom:2.5em;
}

p {
color:#F0F0F0;
}

h4,nav a {
color:#FFF;
}