/* Reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0} 
*, *:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }




/*Clear fix*/
.cf:after,
.cf:before {
  content: '';
  display: table;
}
.cf:after {
  clear: both;
}
.cf {
  zoom: 1;
}

/*Grid System*/

.unit {

    float: left;
    padding-right: 0.75em;
    padding-left: 0.75em;
}

.unit-noR {

padding-right: 0px;

}

.size12of12 {width: 100%}
.size11of12 {width: 91.666666666667}
.size10of12{width: 83.333333333333%}
.size9of8{width:75%}
.size8of8{width:66.666666666667%}
.size7of8{width:58.333333333333%}
.size6of8{width:50%}
.size5of12{width:41.666666666667%}
.size4of12{width:33.333333333333%}
.size3of12{width:25%}
.size2of12{width:16.666666666667%}
.size1of12{width:8.333333333333%}


/*Typography*/

body {

  font-family: 'Source Sans Pro', sans-serif;
  overflow: hidden;
      -webkit-font-smoothing: antialiased;
    /*text-rendering: optimizeLegibility;*/
}

h2 {

font-family: SourceSansPro-ExtraLight;
font-size: 4em;
color: #202020;
line-height: 1.09375em;
}

h1 {

  /* Product Designer: */
font-family: SourceSansPro-Bold;
font-size: 4em;
color: #202020;
line-height: 1.09375em;
}

p {
font-size: 0.875em;
color: #202020;
line-height: 1.28571428571429em;

}

a {

font-weight: 600;
font-size: 0.875em;
color: #202020;
line-height: 1.28571428571429em;
text-decoration: none;
}



/*Style*/

h2:first-child {

  margin-top:1.8125em;
}

.shape {

  position: absolute;
  right: 14em;
    top: 12.3125em;
    width: 15.875em;
    height: auto;
}

.navigation {margin-top: 1.5625em}

.main-content {

  width: 1240px;
  margin-right: auto;
  margin-left: auto;
  /*background-color: yellow;*/
  position: relative;
  height: 100vh;
}

.footer {

  position: absolute;
  bottom: 3.75em;
}

ul {

  list-style: none;
}

ul li {

  float: left;
}

ul.nav li:first-child {

  margin-left: 6.5em;
}

ul.nav li {

  margin-left: 30.125em;
}



.footer ul li:first-child {

      margin-left: 6.5em;
}

.footer ul li:nth-child(2) {

  margin-left: 23.6875em;
}

.footer ul li:nth-child(3) {

  margin-left: 9.5625em;
}

.footer ul li:nth-child(4) {

  margin-left:10.125em;
}

.seg {

  /* Rectangle 3: */
background: #202020;
width: 0.9375em;
height: 0.3125em;
margin-bottom: 0.5em;
}

.divider {

width: 1.875em;
height: 0.625em;
background: #202020;
margin-top: 1.75em;
margin-bottom: 1.75em;
}

.center-text {

  /*background-color: blue;*/
  margin-left: 12.625em;
}


.v-quote-lb {
  font-weight: 700;
  transform: rotate(270deg);
  transform-origin: left top 0;
  /*float: left;*/
  position: absolute;
  left: 3%;
  top: 30.25em;
}
.v-quote-l {
  font-weight: 400;
  transform: rotate(270deg);
  transform-origin: left top 0;
  /*float: left;*/
  position: absolute;
  left: 4.5%;
  top: 30.25em;
}


.v-quote-rb {
  font-weight: 700;
  transform: rotate(90deg);
  transform-origin: right top 0;
  /*float: left;*/
  position: absolute;
  right: 3%;
  top: 30.25em;
}
.v-quote-r {
  font-weight: 400;
  transform: rotate(90deg);
  transform-origin: right top 0;
  /*float: left;*/
  position: absolute;
  right: 4.5%;
  top: 30.25em;
}


/*Media Queries*/


@media screen and (min-width: 1920px) {

body {
  font-size: 120%;
  
}

.main-content {

  width: 95%;
}

}

@media screen and (min-width: 2000px) {

body {
  font-size: 150%;
  
}



}
