
/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }


html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
	border:0;
	vertical-align:baseline;
	font:inherit;
	font-size:100%;
	margin:0;
	padding:0;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
	display:block;
}


.cf:after,
.cf:before {
	content: '';
	display: table;
}
.cf:after {
	clear: both;
}
.cf {
	zoom: 1;
}






/* GRID SISTEM */


.lastUnit{overflow:hidden;float:none;width:auto;padding-left:0.9375em;padding-right:0.9375em}
.unit{overflow:hidden;float:left;padding-left:0.9375em;padding-right:0.9375em}
.size6of6{width:100%}
.size4of6{width: 66.666666666667%}
.size3of6{width: 50%}
.size2of6{width: 33.333333333333%}
.size1of6{width: 16.666666666667%}


/* LAYOUT */


.main-box {

	width: 77.5em;
	margin-right: auto;
	margin-left: auto;
}


.logo {
	width: 9.375em;
	margin-top: 2em;
	float: left;

}


img {
	width: 100%; 
	height: auto;
}

.article-preview {
	width: 23.9375em; 
	height: 15.125em;
}

a {

	text-decoration: none;
	color: #333333;

}

a:hover {

color: #da3743;
	-webkit-transition: color .25s ease;
   -moz-transition: color .25s ease;
    -ms-transition: color .25s ease;
     -o-transition: color .25s ease;
        transition: color .25s ease;

}


.a-center{

margin: 0 auto;

}

.t-center {

	text-align: center;
}

ul {

	list-style-type: none;

}

.header {
position: relative;
}

.title {

width: 12.5625em;
margin-bottom: 1.75em;
margin-top: 3.5em;
margin-left: 28.7em;
float: left;
}

.navigation-line{


left: 0;
right: 0;
height: 1px;
background: #EAEAEA;
position: absolute;
top: 5.5em;
z-index: -10;

}

.division-line:first-child {

left: 0;
right: 0;
height: 1px;
background: #EAEAEA;
position: absolute;
z-index: -10;
margin-top: 2em;


}

.division-line {

left: 0;
right: 0;
height: 1px;
background: #EAEAEA;
position: absolute;
z-index: -10;
margin-top: 4em;


}


.menu {


  position: relative;

}

.navigation {

	width: 38em;
	margin-bottom: 5.17em;
	margin-top: 2em;
	position: relative;
    margin-left: 15em;
    position: absolute;
    right: 0em;
}

.main-title {

	margin-bottom: 5.17em;
	position:relative;
	margin-top: 7em;
}

.main-title h3 {

	line-height: 2em;
}

.pagination {

	width: 100%;
	margin-top: 8.75em;
}

.description {

	padding-top: 1.25em;
}

.article-data {

	width: 36.875em;
	position: relative;
	
}

.article-data .description {

	margin-top: 5.25em;
}




/*.navigation ul a li:first-child {

	margin-left:0em;
}*/

.navigation ul li {

float: left;
margin-left: 3.125em;
font-size: 1.0625em;
font-weight: 400;
color: #559EBE;
padding-bottom: 1.90em;
border-bottom: 2px solid transparent;
-webkit-transition: border-bottom-color .25s ease;
   -moz-transition: border-bottom-color .25s ease;
    -ms-transition: border-bottom-color .25s ease;
     -o-transition: border-bottom-color .25s ease;
        transition: border-bottom-color .25s ease;

}

.navigation .selected {

	color: black;
	border-bottom: 2px solid #559EBE;
}



.side-menu ul li {

    font-size: 0.875em;
	color: #666666;
	font-weight: 700;
	margin-top: 2.5em;

}

.side-menu ul li:first-child {
margin-top: 0em;

}

.side-menu ul a {

	font-size: 1.0625em;
font-weight: 400;
color: #DA3743;
line-height: 1.6em;
}




/*.navigation ul li:first-child {

	margin-left:0;
}*/

.navigation ul li:hover {

border-bottom-color: #559EBE;

}



.footer {


margin-top: 8.75em;
margin-bottom: 5.25em;

}

.pagination ul li {

float: left;
margin-left: 3.125em;
font-size: 1.0625em;
font-weight: 400;
color: #559EBE;
padding-bottom: 1.83em;
border-bottom: 2px solid transparent;

}


.pagination ul li : hover {

border: 2px solid red;

}


.pagination ul li:first-child {

	margin-left:30.5em;
}

.pagination ul li:last-child {

	margin-left:20em;
}

.footer ul li {

float: left;
margin-left: 1.625em;
font-size: 0.9375em;
font-weight: 400;
color: #B4B4B4;
padding-top: 1.75em;

}

.footer ul li:first-child {

	margin-left:0;
}


.divider {

width: 100%;
height: 1px;
background: #EAEAEA;

}

.text {

	width: 31.05263157894737em;
	margin-top: 1.5em;
}


.info {

	width: 36.875em;
	position: relative;
	margin-top: 4.625em;
}

.following{

	width: 36.875em;
	position: relative;
	margin-top: 7.625em;
}

.profile-pic {

	width: 4.125em;

}

.profile-pic-big {

	width: 7em;

}

.cover {

position: absolute;
left: 0;
right: 0;
height: 8.75em;
background-color: lightcyan;
z-index: -5;
top:10.2em;

}

.author-social-icon {

	width: 1.75em;
	margin-left: 3.125em;
}

.author-social .author-social-icon:first-child {

	margin-left: 0;
}


.article {

position: relative;

}

.profile-session {

	position: relative;
}

.category {

  color: #DA3743;
}



.fill {

	height: 2em;
}

.reduced {

	width: 20.10526315789474em;
}

.button {

	padding-top: 18px;
	padding-bottom: 18px;
	padding-right: 27px;
	padding-left: 27px;
	background-color: #559EBE;
	border-radius: 9px;
	color: white;
	font-weight: 700;
	-webkit-transition: background-color .25s ease;
   -moz-transition: background-color .25s ease;
    -ms-transition: background-color .25s ease;
     -o-transition: background-color .25s ease;
        transition: background-color .25s ease;

}

.button:hover {
	background-color: #61B5D9;
	color: white;
}

.button-next {

position: relative;
top: 3.2em;
left: 3.2em;

}


/*.ontop : hover {

	background-color: red;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
*/


.article-row {

	margin-top: 5.25em;
}

.next-article {

float: left;
}


/*TYPOGRAPHY*/

body {
	font-size: 100%;
	text-rendering: optimizeLegibility;
	font-family: 'Source Sans Pro', sans-serif;
	position: relative;
	-webkit-font-smoothing:antialiased;
}


h1 {

  font-size: 2.25em;
  font-weight: 400;

}

h2 {

    font-size: 1.375em;

}

h3 {

	font-size: 1.1875em;
	font-weight: 400;
    color: #969696;
}



p {

	font-size: 1.1875em;
	font-weight: 400;
	color: #4A4A4A;
	line-height: 1.85em
}


h4 {

	font-size: 1.5em;
	font-weight: 700;
	color: #DA3743;
}


small {

	font-size: 0.875em;
	color: #DA3743;
	font-weight: 700;
}



.profile-info small {
color: #666666;

}







/*Starting media queries */

@media (min-width: 1920px) {

	body {

		font-size: 115%;
	}
}


@media (max-width: 1440px) {

	body {

		font-size: 74%;
	}

	.title {


margin-left: 28.3em;

}


}



@media (max-width: 1281px) {

	
.main-box {

	width: 63em;
	margin-right: auto;
	margin-left: auto;
}

	.title {


margin-left: 21em;

}

.pagination ul li:first-child {

	margin-left:23.4em;
}


}

@media (max-width: 769px) {

.size2of6{width: 50%;}

.size4of6{width: 100%;}

.lastmobo .size2of6 {
	width: 100%;
	margin-top: 3em;
}

.main-box {

	width: 50em;
	
}


	.title {


margin-left: 16em;

}

.pagination ul li:first-child {

	margin-left:17.4em;
}


}


















