{% extends "base.html" %}
{% block content %}



<div class="wrapper relative">

<div class="navigation">
    <div class="line">
        <div class="unit size8of8 cf">
          <h1 class="title">Skirano</h1>
          <div class="menu cf">
            <ul>
                <li><a href="work.html"><h5>Work</h5></a></li>
                <li><a href=""><h5>Resume</h5></a></li>
                <li><a href=""><h5>Contact</h5></a></li>
            </ul>
          </div>
        </div>
    </div>
</div>

<!-- END NAVIGATION -->

<div class="main-article">
    <div class="line cf">
        <div class="lastUnit size6of8">
<p class="about">
                Ciao, I am Pietro, a passionate designer engineer from Italy based in San Francisco. Currently working at the all new <a href="http://www.opentable.com/san-francisco-restaurants">OpenTable</a>.
I am a tech enthusiast, a guitar player and a “Back to the Future” evangelist. Some could even define me as a <a href="https://vine.co/v/MgmqWBLi2bW">funny guy</a>.<br>I enjoy creating clean, simple, and emotional designs for desktop and mobile usage. While in Amsterdan I worked as a designer at Hubskip ( now <a href="http://getflyr.com/#/">Flyr</a> ) and  completely redesigned <a href="https://cyso.com/">CYSO</a>, one of the biggest internet services providers in the Netherlands.

<!-- I am the creator of the gamboy skins pack for iPhone, and of some of the most popular free PSDs. -->
            </p>
        </div>
    </div>
</div>


<!-- END ARTICLE -->

 <div class="push"></div>
</div> 
<!-- end of the wrapper -->

{% endblock content%}
