{% extends "base.html" %}
{% block content %}



<div class="wrapper">

<div class="navigation">
	<div class="line">
		<div class="unit size8of8 cf">
		  <h1 class="title float">SKIRANO</h1>
		  <div class="menu cf">
		  	<ul>
		  	    <li><a href=""><h5>Work</h5></a></li>
		  	    <li><a href=""><h5>Resume</h5></a></li>
		  	    <li><a href=""><h5>Contact</h5></a></li>
		  	</ul>
		  </div>
		</div>
	</div>
</div>

<!-- END NAVIGATION -->

<div class="main-article">
	<div class="line cf">
		<div class="lastUnit size6of8">
			<p class="about">
				Ciao, I am Pietro, a passionate designer engineer from Italy based in San Francisco. <br>
I enjoy creating clean, simple, pixel-perfect and emotional designs for desktop and mobile usage. I work full time as UX engineer at Opentable. I am a tech enthusiast, <br>
a Back to the Future evangelist and a guitar player. Some could even define me as a funny guy. Over the past 4 years I have been working on a series of interesting pro-jects. I designed a succesfull app for health-care HipaaChat, worked as a designer at Hubskip (now Flyr ), a startups that was based in Amsterdam and I completely redesigned the website of one of the biggest Hosting Providers in the Netherlands. I'have done tons of freelance too. <br><br>

I am the creator of the gamboy skins pack for iPhone, and of some of the most popular free PSDs.
			</p>
		</div>
	</div>
</div>


<!-- END ARTICLE -->


<div class="footer">
	<div class="line cf">
		<div class="lastUnit size8of8">
			<div class="copyright float"><h6>© Pietro Schirano, 2014</h6></div>
			<div class="social">
		  	<ul>
		  	    <li><a href=""><h6>Blog</h6></a></li>
		  	    <li><a href=""><h6>Instagram</h6></a></li>
		  	    <li><a href=""><h6>Dribbble</h6></a></li>
		  	    <li><a href=""><h6>Linkedin</h6></a></li>
		  	</ul>
		  </div>

		</div>
	</div>
</div>

</div> 
<!-- end of the wrapper -->

{% endblock content%}
