{% extends "base.html" %}
{% block content %}



<div class="wrapper relative">

<div class="navigation">
    <div class="line">
        <div class="unit size8of8 cf">
          <a href="index.html"><h1 class="title">Skirano</h1></a>
          <div class="menu cf">
            <ul>
                <li><a href="work.html"><h5>Work</h5></a></li>
                <li><a href=""><h5>Resume</h5></a></li>
                <li><a href="contact.html"><h5>Contact</h5></a></li>
            </ul>
          </div>
        </div>
    </div>
</div>

<!-- END NAVIGATION -->

<div class="first-line ">
    <div class="line cf">
        <div class="special size4of8">
            <img class="work" src="{% static '/images/1.png' %}" alt="">
        </div>
        <div class="special size2of8">
            <img class="work" src="{% static '/images/2.png' %}" alt="">
        </div>
        <div class="special size2of8">
            <img class="work" src="{% static '/images/3.png' %}" alt="">
        </div>

    </div>
</div>

<div class="second-line wow fadeInUp">
    <div class="line cf">
        <div class="special size2of8">
            <img class="work" src="{% static '/images/4.png' %}" alt="">
            <img class="work extra" src="{% static '/images/4b.png' %}" alt="">
        </div>
        <div class="special size4of8">
            <img class="work" src="{% static '/images/5.png' %}" alt="">
        </div>
        <div class="special size2of8">
            <img class="work" src="{% static '/images/6.png' %}" alt="">
        </div>

    </div>
</div>

<div class="third-line wow fadeInUp">
    <div class="line cf">
        <div class="special size4of8">
            <img class="work" src="{% static '/images/7.png' %}" alt="">
            
        </div>
        <div class="special size2of8">
            <img class="work" src="{% static '/images/8.png' %}" alt="">
            <img class="work extra" src="{% static '/images/8b.png' %}" alt="">
        </div>
        <div class="special size2of8">
            <img class="work" src="{% static '/images/9.png' %}" alt="">
        </div>

    </div>
</div>


<!-- END ARTICLE -->

 <div class="push"></div>
</div> 
<!-- end of the wrapper -->

{% endblock content%}
